In [ ]:
import pandas as pd
import numpy as np
import math

In [4]:
df = pd.read_csv(r"E:\Aegis\Kaggle\Amazon_Mobile reviews\amazon-reviews-unlocked-mobile-phones/Amazon_Unlocked_Mobile.csv")

In [7]:
df.head()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,Very pleased,0.0
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,It works good but it goes slow sometimes but i...,0.0
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,Great phone to replace my lost phone. The only...,0.0

In [8]:
df.dtypes

Product Name     object
Brand Name       object
Price           float64
Rating            int64
Reviews          object
Review Votes    float64
dtype: object

In [15]:
#Check for Size of the data set
df['Product Name'].count()

413840

In [13]:
#Check for NUll values in the data set
df.apply(lambda x: sum(x.isnull()))

Product Name        0
Brand Name      65171
Price            5933
Rating              0
Reviews            62
Review Votes    12296
dtype: int64

In [20]:
#Look at no.of categorical variables in the data
df.apply(lambda x: len(x.unique()))

Product Name      4410
Brand Name         385
Price             1755
Rating               5
Reviews         162492
Review Votes       242
dtype: int64

In [21]:
#there are a  total of 4410 types of products sold, 
# which are from 385 different brands
print df['Brand Name'].value_counts()

Samsung                                        65747
BLU                                            63248
Apple                                          58186
LG                                             22417
BlackBerry                                     16872
Nokia                                          16806
Motorola                                       13417
HTC                                            12724
CNPGD                                          12613
OtterBox                                        7989
Sony                                            7828
Posh Mobile                                     6765
Huawei                                          3325
LG Electronics                                  3105
samsung                                         2431
Polaroid                                        1729
ZTE                                             1669
Alcatel                                         1414
Asus                                            1324
verykool                                        1156
Casio                                           1111
Blackberry                                      1004
Lenovo                                           918
Ultrabox                                         896
RCA                                              886
FIGO                                             878
Pantech                                          849
Samsung Korea LTD                                839
Amazon.com, LLC *** KEEP PORules ACTIVE ***      800
Star                                             782
                                               ...
Crown                                              2
iPartsBuy                                          2
Research In Motion                                 1
Android                                            1
LeEco                                              1
Danger Inc.                                        1
apple                                              1
TracFone                                           1
AeroAntenna                                        1
H2O                                                1
S7 active                                          1
MOTOROLA                                           1
ToShare Tech                                       1
UHAPPY                                             1
OLA Products                                       1
Grade - A                                          1
Vostrostone                                        1
Conquest S8 Pro 3GB Smartphone (Black)             1
Concox                                             1
SENTEL                                             1
KIKAR                                              1
Blackberry (Rim)                                   1
VIP                                                1
Moxee Technologies                                 1
ssiony                                             1
ThL                                                1
RomaCostume                                        1
M-HORSE                                            1
Sanyo, Katana                                      1
AT&T                                               1
Name: Brand Name, dtype: int64

In [25]:
# Out of all brands see which are top selling brands

print df['Brand Name'].value_counts().head(10)

Samsung       65747
BLU           63248
Apple         58186
LG            22417
BlackBerry    16872
Nokia         16806
Motorola      13417
HTC           12724
CNPGD         12613
OtterBox       7989
Name: Brand Name, dtype: int64

In [26]:
# Samsung, BLU, Apple -->holds major market share of selling the mobiles

In [46]:
#See the avg price of each mobile
print df['Price'][df['Brand Name'] =='Samsung'].mean()
print df['Price'][df['Brand Name'] =='BLU'].mean()
print df['Price'][df['Brand Name'] =='Apple'].mean()

291.795237559
245.401875174
306.287868455

In [47]:
print df['Price'][df['Brand Name'] =='Samsung'].describe()
print df['Price'][df['Brand Name'] =='BLU'].describe()
print df['Price'][df['Brand Name'] =='Apple'].describe()

count    64805.000000
mean       291.795238
std        259.777817
min          9.990000
25%               NaN
50%               NaN
75%               NaN
max       2408.730000
Name: Price, dtype: float64
count    60997.000000
mean       245.401875
std        480.441467
min         13.260000
25%               NaN
50%               NaN
75%               NaN
max       2000.000000
Name: Price, dtype: float64
count    58094.000000
mean       306.287868
std        238.546478
min         19.780000
25%               NaN
50%               NaN
75%               NaN
max       1250.000000
Name: Price, dtype: float64