In [1]:
print("Hello World")
import random
import requests
from textblob import TextBlob
import pandas as pd
import numpy as np
import nltk
import re
import datetime
from dateutil.parser import parse

Hello World

In [2]:
#get the user data and coupn data
user_data = pd.read_excel("user_data.xls")
coupon_data = pd.read_excel("coupn_data.xls")

In [3]:
user_data.head(10)

   UserID Password              Name Role
0  123456    ajith       Ajith Kumar    A
1  898581    reddy       Kumar Reddy    A
2  998701  vajrala  Sreenivasa Reddy    A
3  987654    kumar       Vamsi reddy    B
4  258963    hello        Venu Reddy    B
5  369852  morning        Anil Reddy    A
6  147852  evening       Subba Reddy    B
7  147963    night      Charan Reddy    A
8  456123   dravid      Karthi reddy    A
9  654123   sachin     Abi Ram Reddy    A

In [4]:
coupon_data.head(10)

   copuon start date   end date Active  Price
0  AB1234 2017-01-10 2018-10-01      Y   1234
1  AB3232 2017-02-10 2018-11-10      N   1212
2  BD2323 2017-03-10 2018-12-20      Y     12
3  BF7878 2017-04-10 2019-01-29      N     43
4  OI9090 2017-05-10 2019-03-10      Y    564
5  TY6878 2017-06-10 2019-04-19      N   5456
6  RF2334 2017-07-10 2019-05-29      Y    878
7  WE1212 2017-08-10 2019-07-08      N      0
8  RE4343 2017-09-10 2019-08-17      Y    576
9  RF2231 2017-10-10 2019-09-26      N     76

In [5]:
coupon_data.shape

(15, 5)

In [6]:
def main():
    print("Hello! What's up for the day.")
    textblobFunc()

In [7]:
# Sentences we'll respond with if the user greeted us
GREETING_KEYWORDS = ("hello", "hi", "greetings", "sup", "what's up")

GREETING_RESPONSES = ["Type login to talk with bot", "hey", "Sure, tell me why are you here?", "Please tell me why you are here", "hey how are youp?", "Whould you like to login? then type login"]

In [8]:
def textblobFunc():
    text_in = input("How are You?: ")
    tb_text_in = TextBlob(text_in.lower())    
    words = [w for w in tb_text_in.words]
    if ("login" or "log in" or "loggin" or "sign in" or "signin") in words:
        print("hey buddy")
        second_main()
    else:
        print(random.choice(GREETING_RESPONSES))
        textblobFunc()

In [9]:
def qsecond_main():
    try:
        print("\n")
        ID = raw_input("Please enter valid User ID: ")
        
        if any(user_data.UserID == ID):
            indices = user_data[user_data['UserID'] == ID].index.tolist()
            index = indices[0]
            print("Hi ", user_data['Name'][index])
            user_oper = user_data['Name'][index]
            print("Please enter a valid password")
        
            password = input("")
            if password == user_data['Password'][index]:
                print("password Okay")
                coupon_module(user_oper)
            else:
                print("please enter a valid User ID followed by password")
                second_main()
        else:
            print("Entered deatils are incorrect. Please enter valid d")
            second_main()
    except:
        print("Wrong")
        #please_valid_responses()

In [10]:
##work
def second_main():
    
    try:
        ID = input("Please enter valid User ID: ")
        
        if int(ID) in list(user_data.UserID.values):
            indices = user_data[user_data['UserID'] == int(ID)].index.tolist()
            index = indices[0]
            print("Hi ", user_data['Name'][index])
            user_oper = user_data['Name'][index]
            print("Please enter a valid password")
            password = input("")
            
            if password == user_data['Password'][index]:
                print("password Okay")
                coupon_module()
            else:
                print("please enter a valid User ID followed by password")
                second_main()
        else:
            print("Entered deatils are incorrect. Please enter valid details")
            second_main()
    except ValueError:
        print("please enter only integer numbers")
        second_main()

In [11]:
def preprocess_text(sentence):
    cleaned = []
    words = sentence.split(' ')
    for w in words:
        if w == 'i':
            w = 'I'
        if w == "i'm":
            w = "I'm"
        if w == "wanna" :
            w = "want to"
        if w == "don't" :
            w ="do not"
        cleaned.append(w)

    return ' '.join(cleaned)

In [12]:
def please_valid_responses():
    print("Please enter valid data")
    second_main()

In [13]:
def coupon_module():
    print("\n")
    print("Please enter valid coupon ID to perform update/delete operations")
    coupon_input = input()
    if any(coupon_data.copuon == coupon_input):
        indices = coupon_data[coupon_data['copuon'] == coupon_input].index.tolist()
        index = indices[0]
        print("\n")
        print("Coupon Details:")
        print( coupon_data.iloc[index])
        coupon_number = coupon_data.copuon[index]
        
        coupon_operation(coupon_number, index)
            
            
    else:
        print("\n")
        print("Invalid coupon number")
        coupon_module()

In [14]:
def coupon_operation(coupon_number, index):
    coupon_oper_text = input("what update operation need to be done on coupon?: ")
    
    parsed = TextBlob(coupon_oper_text.lower())
    words = [w for w in parsed.words]
    
    if ("change price" in words) or ("update price" in words) or ("new price" in words) or ("price" in words):
        list_of_nums = list(map(int, re.findall('\d+', coupon_oper_text)))
        val = list_of_nums[0]
        price_change(coupon_number, index, val)
        
    elif("activate"  in words) or ("enable"in words) or ("active" in words) or ("disable" in words) or ("delete" in words) or ("make inactivate" in words):
        coupon_update_delete(coupon_number, index, words)
        
    elif("change start date" in words) or ("start date" in words) or ("startdate"in words) or ("end date" in words) or ("date" in words) or ("day" in words):
        
        date_change(coupon_number, index, words)
     
    else:
        print("please enter any valid update operation on the coupon")
        coupon_operation(coupon_number, index)

In [15]:
def date_change(coupon_number, index, words):
    #parsed =TextBlob(coup_oper_text.lower())
    #words = [w for w in parsed.words]
    try:
        for w in words:
            date_val = is_date(w)
        
        if ("start" in words) or ("start date" in words) or ("startdate" in words):
            start_date(coupon_number, index, date_val)
        
        elif ("end" in words) or ("end date" in words) or ("enddate" in words):
            end_date(coupon_number, index, date_val)
        
        
    
    except ValueError:
        print("please enter date as DD/MM/YYYY format only")   
        coupon_operation(coupon_number, index)
        return False

In [16]:
def is_date(w):
    try: 
        parse(w)
        return w
    except ValueError:
        return False

In [17]:
def coupon_update_delete(coupon_number, index, words):
        
    if ("enable" in words) or ("activate" in words) or ("active" in words):
        enable_coupon(coupon_number, index)
    elif ("disable" in words) or ("delete"  in words) or ("make inactivate" in words):
        disable_coupon(coupon_number, index)

    else:
        print("\n")
        print("please enter a valid update/delete operation")
        coupon_operation(coupon_number, index)

In [18]:
def price_change(coupon_number, index, val):
    print("\n")
    coupon_data.Price[index] = val
    
    print("Coupon deatils updated")
    print("New status of coupon")
    print(coupon_data.iloc[index])

In [19]:
def enable_coupon(coupon_number, index):
    print("\n")
    coupon_data.Active[index] = "Y"
    print("Coupon deatils updated")
    print("New status of coupon")
    print(coupon_data.iloc[index])

In [20]:
def disable_coupon(coupon_number, index):
    print("\n")
    coupon_data.Active[index] = "N"
    print("Coupon deatils updated")
    print("New status of coupon")
    print(coupon_data.iloc[index])

In [21]:
print("\n")

In [22]:
def start_date(coupon_number, index, start_date):
    print("\n")
    coupon_data['start date'][index] = start_date
    print("Coupon deatils updated")
    print("New status of coupon")
    print(coupon_data.iloc[index])

In [23]:
def end_date(coupon_number,index, end_date):
    print("\n")
    coupon_data['end date'][index] = end_date
    print("Coupon deatils updated")
    print("New status of coupon")
    print(coupon_data.iloc[index])

In [24]:
if __name__ == "__main__":
    main()

Hello! What's up for the day.
How are You?: login
hey buddy
Please enter valid User ID: 123456
Hi  Ajith Kumar
Please enter a valid password
ajith
password Okay


Please enter valid coupon ID to perform update/delete operations
AB1234


Coupon Details:
copuon                     AB1234
start date    2017-01-10 00:00:00
end date      2018-10-01 00:00:00
Active                          Y
Price                        1234
Name: 0, dtype: object
what update operation need to be done on coupon?: change start date to 12/12/2012


Coupon deatils updated
New status of coupon
copuon                     AB1234
start date    2012-12-12 00:00:00
end date      2018-10-01 00:00:00
Active                          Y
Price                        1234
Name: 0, dtype: object

C:\Users\1004365\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
def graph_text():
    text_in = input("what graph data is required?  ")
    tb_text_in = TextBlob(text_in.lower())    
    words = [w for w in tb_text_in.words]
    if ("metric1" or "m1" or "m_1") in words:
        metric1_module()
    elif ("metric2" or "m2" or "m_2") in words:
        metric2_module()
            
    else:
        print(random.choice(GREETING_RESPONSES))
        textblobFunc()

In [3]:
def metric1_module():
    pass
    #print(metric1)data

In [4]:
def metric2_module():
    pass
    #print(metric2 module)